.navbar {
  background: #1f1f1f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navContainer {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLinks a {
  margin: 0 12px;
  color: white;
  text-decoration: none;
}

.navLinks .callButton {
  margin-top: 10px;
}

.logo img {
  height: 55px;
   display: flex;
  align-items: center;
}

@media (max-width: 768px) {

  .logo img {
    height: 40px;
  }

}

.callButton {
  background: #2235b5;
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
}

.callWrapper {
  position: relative;
}

.callDropdown {
  position: absolute;
  right: 0;
  top: 45px;
  background: white;
  color: black;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  overflow: hidden;
}

.callDropdown a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.callDropdown a:hover {
  background: #f5f5f5;
}

.pricesMenu {
  position: relative;
  cursor: pointer;
  margin: 0 12px;
}

.pricesDropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  color: black;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  min-width: 180px;
}

.pricesDropdown a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: black;
}

.pricesDropdown a:hover {
  background: #f5f5f5;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .navLinks {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #1f1f1f;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .navLinks a {
    padding: 12px 0;
    font-size: 18px;
  }

  .navLinks.active {
    display: flex;
  }

  .navContainer {
  position: relative;
}

.callWrapper {
    display: none;
  }

  .pricesMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

}


