body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 768px) {
  .heroCallWrapper {
    margin-top: 30px;
  }

  /* Hide mobile buttons on desktop */
  .contactButtons {
    display: none;
  }

  /* Show contact info on desktop */
  .contactInfo {
    display: block;
  }
}

/* Hide desktop contact info on mobile */
.contactInfo {
  display: none;
}

  


